@model WMSWeb.Models.UbicacionFisica

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UbicacionFisica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hilera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hilera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Columna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Columna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlujoPicking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlujoPicking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadUm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadUm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadVolumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadVolumen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaFechaConteo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaFechaConteo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionReposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionReposicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaPicking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaPicking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLpn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLpn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod.CodZona)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodAlmacenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAlmacenNavigation.CodAlmacen)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodUbicacion" />
        <input type="hidden" asp-for="CodAlmacen" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
