@model WMSWeb.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodZona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodZona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaPicking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaPicking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dispositivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dispositivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodAlmacenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodAlmacenNavigation.CodAlmacen)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
