@model IEnumerable<WMSWeb.Models.DocumentoEntrada>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroDocEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroDocReferencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodDocEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodAlmacenOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecEstimadaRecepcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodAlmacenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroDocEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroDocReferencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodDocEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodAlmacenOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecEstimadaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodAlmacenNavigation.CodAlmacen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodProveedorNavigation.CodProveedor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
